<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<!-- 关卡配置根节点-->
	<array>
		<!-- 第一个关卡信息-->
		<dict>
			<key>letter</key>
			<array>
				<string>篮球</string>
				<string>足球</string>
				<string>乒乓球</string>
				<string>马拉松</string>
			</array>
		</dict>
		
		<!-- 第二个关卡信息-->
		<dict>
			<key>letter</key>
			<array>
				<string>曹操</string>
				<string>刘备</string>
				<string>李白</string>
				<string>杜甫</string>
				<string>武松</string>
				<string>潘金莲</string>
			</array>
		</dict>
		
		<!-- 第三个关卡信息-->
		<dict>
			<key>letter</key>
			<array>
				<string>巫师</string>
				<string>美国末日</string>
				<string>美国</string>
				<string>末日</string>
				<string>古墓</string>
				<string>古墓丽影</string>
			</array>
		</dict>
	</array>
</plist>