<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<!-- 关卡配置根节点-->
	<array>
		<!-- 第一个关卡信息-->
		<dict>
			<!-- 关卡ID-->
			<key>ID</key>
			<string>0</string>
			<!-- 关卡包含的词组-->
			<key>letter</key>
			<array>
				<string>美国末日</string>
				<string>美国</string>
				<string>末日</string>
				<string>魔兽世界</string>
				<string>魔兽</string>
				<string>世界</string>
				<string>世界末日</string>
				<string>国界</string>
				<string>末世</string>
			</array>
			<!-- 关卡提示倒计时，0代表无提示-->
			<key>countdown</key>
			<string>5</string>
			<!-- 关卡限定步数-->
			<key>step</key>
			<string>7</string>
			<!-- 关卡目标，ID为1是达到指定分数，2是找到一定数目不同词组-->
			<key>aim</key>
			<dict>
				<key>ID</key>
				<string>1</string>
				<key>score</key>
				<string>400</string>
			</dict>
		</dict>
		
		<!-- 第二个关卡信息-->
		<dict>
			<!-- 关卡ID-->
			<key>ID</key>
			<string>1</string>
			<!-- 关卡包含的词组-->
			<key>letter</key>
			<array>
				<string>美国末日</string>
				<string>美国</string>
				<string>末日</string>
				<string>魔兽世界</string>
				<string>魔兽</string>
				<string>世界</string>
				<string>世界末日</string>
				<string>国界</string>
				<string>末世</string>
			</array>
			<!-- 关卡提示倒计时，0代表无提示-->
			<key>countdown</key>
			<string>5</string>
			<!-- 关卡限定步数-->
			<key>step</key>
			<string>6</string>
			<!-- 关卡目标，ID为1是达到指定分数，2是找到一定数目不同词组-->
			<key>aim</key>
			<dict>
				<key>ID</key>
				<string>1</string>
				<key>score</key>
				<string>350</string>
			</dict>
		</dict>
		
		<!-- 第三个关卡信息-->
		<dict>
			<!-- 关卡ID-->
			<key>ID</key>
			<string>2</string>
			<!-- 关卡包含的词组-->
			<key>letter</key>
			<array>
				<string>美国末日</string>
				<string>美国</string>
				<string>末日</string>
				<string>魔兽世界</string>
				<string>魔兽</string>
				<string>世界</string>
				<string>世界末日</string>
				<string>国界</string>
				<string>末世</string>
			</array>
			<!-- 关卡提示倒计时，0代表无提示-->
			<key>countdown</key>
			<string>5</string>
			<!-- 关卡限定步数-->
			<key>step</key>
			<string>5</string>
			<!-- 关卡目标，ID为1是达到指定分数，2是找到一定数目不同词组-->
			<key>aim</key>
			<dict>
				<key>ID</key>
				<string>1</string>
				<key>score</key>
				<string>300</string>
			</dict>
		</dict>
		
		<!-- 第四个关卡信息-->
		<dict>
			<!-- 关卡ID-->
			<key>ID</key>
			<string>3</string>
			<!-- 关卡包含的词组-->
			<key>letter</key>
			<array>
				<string>美国末日</string>
				<string>美国</string>
				<string>末日</string>
				<string>魔兽世界</string>
				<string>魔兽</string>
				<string>世界</string>
				<string>世界末日</string>
				<string>国界</string>
				<string>末世</string>
			</array>
			<!-- 关卡提示倒计时，0代表无提示-->
			<key>countdown</key>
			<string>5</string>
			<!-- 关卡限定步数-->
			<key>step</key>
			<string>4</string>
			<!-- 关卡目标，ID为1是达到指定分数，2是找到一定数目不同词组-->
			<key>aim</key>
			<dict>
				<key>ID</key>
				<string>1</string>
				<key>score</key>
				<string>250</string>
			</dict>
		</dict>
		
		<!-- 第五个关卡信息-->
		<dict>
			<!-- 关卡ID-->
			<key>ID</key>
			<string>4</string>
			<!-- 关卡包含的词组-->
			<key>letter</key>
			<array>
				<string>美国末日</string>
				<string>美国</string>
				<string>末日</string>
				<string>魔兽世界</string>
				<string>魔兽</string>
				<string>世界</string>
				<string>世界末日</string>
				<string>国界</string>
				<string>末世</string>
			</array>
			<!-- 关卡提示倒计时，0代表无提示-->
			<key>countdown</key>
			<string>5</string>
			<!-- 关卡限定步数-->
			<key>step</key>
			<string>3</string>
			<!-- 关卡目标，ID为1是达到指定分数，2是找到一定数目不同词组-->
			<key>aim</key>
			<dict>
				<key>ID</key>
				<string>1</string>
				<key>score</key>
				<string>200</string>
			</dict>
		</dict>
		
		<!-- 第六个关卡信息-->
		<dict>
			<!-- 关卡ID-->
			<key>ID</key>
			<string>5</string>
			<!-- 关卡包含的词组-->
			<key>letter</key>
			<array>
				<string>美国末日</string>
				<string>美国</string>
				<string>末日</string>
				<string>魔兽世界</string>
				<string>魔兽</string>
				<string>世界</string>
				<string>世界末日</string>
				<string>国界</string>
				<string>末世</string>
			</array>
			<!-- 关卡提示倒计时，0代表无提示-->
			<key>countdown</key>
			<string>5</string>
			<!-- 关卡限定步数-->
			<key>step</key>
			<string>2</string>
			<!-- 关卡目标，ID为1是达到指定分数，2是找到一定数目不同词组-->
			<key>aim</key>
			<dict>
				<key>ID</key>
				<string>1</string>
				<key>score</key>
				<string>150</string>
			</dict>
		</dict>
		
		<!-- 第七个关卡信息-->
		<dict>
			<!-- 关卡ID-->
			<key>ID</key>
			<string>6</string>
			<!-- 关卡包含的词组-->
			<key>letter</key>
			<array>
				<string>美国末日</string>
				<string>美国</string>
				<string>末日</string>
				<string>魔兽世界</string>
				<string>魔兽</string>
				<string>世界</string>
				<string>世界末日</string>
				<string>国界</string>
				<string>末世</string>
			</array>
			<!-- 关卡提示倒计时，0代表无提示-->
			<key>countdown</key>
			<string>5</string>
			<!-- 关卡限定步数-->
			<key>step</key>
			<string>1</string>
			<!-- 关卡目标，ID为1是达到指定分数，2是找到一定数目不同词组-->
			<key>aim</key>
			<dict>
				<key>ID</key>
				<string>1</string>
				<key>score</key>
				<string>100</string>
			</dict>
		</dict>
	</array>
</plist>